<%- include('partials/head')  %>
<section class="enter-user">
    <form id="name-form" action="">
        <label for="name-value">username</label>
        <input id="name-value" autocomplete="off" /><button id="username" type="submit">enter</button>
    </form>
</section>
<div id="feedback"></div>
<section class="chat-container">
    <button id="leave">leave</button>
    <article class="chat-msg">
        <ul id="messages"></ul>
    </article>

    <div class="chat-input">
        <form action="" id="chat-form">
            <label for="input-msg"></label>
            <input id="input-msg" autocomplete="off" /><button>Send</button>
        </form>


    </div>
</section>


<%- include('partials/footer')  %>