* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: #162447;
}

section.enter-user {
    text-align: center;
    height: 100vh;
    position: absolute;
    background: white;
    width: 100vw;
    z-index: 1;
}

form#name-form {
    margin: 2em;
    top: 50%;
    bottom: 50%;
    position: relative;
}

.enter-user label {
    display: block;
    padding: 1em;
}

section.enter-user {
    text-align: center;
}

.enter-user button {
    border: none;
    padding: 1em;
    background: #addeca;
    width: 40vw;
    display: block;
    margin: 1em auto;
}

/* login button spotify */
section.logspotify {
    position: fixed;
    display: flex;
    z-index: 2;
    background: #222831;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

}
section.logspotify div h1 {
    color:#eeeeee;
    font-size: 3em;
    margin: .3em;
}
section.logspotify div p{
    color:#eeeeee;
    margin: .3em;
}

button.btn-login {
    padding: 2em;
    background: transparent;
    /* border-radius: 7em; */
    border: 1px solid #00adb5; ;
    transition: 800ms ease-in-out;
    margin: 2.3em;
    width: 40em;
}
button.btn-login:hover{
    background: linear-gradient(0deg, rgba(177,65,107,1) 26%, rgba(241,170,96,1) 100%);
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    font-family: Roboto-bold;
}
a:hover{
    color: black;
}

input#name-value {
    width: 40vw;
    height: 4em;
    border-radius: 0.7em;
    border: 1px solid #cbcbcb;
    outline: none;
    text-align: center;
    background: white;
    box-shadow: 3px 2px 0px 1px aliceblue;
    transition: 500ms ease;
}

input#name-value:focus {
    box-shadow: -4px -4px 0px 1px aliceblue;
}

/* input#name-value:hover {
box-shadow: inset -5px -5px 0px 1px aliceblue;
} */
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

section.chat-container {
    position: relative;
    display: block;
    width: 20em;
    border-radius: 1em;
    border: 1px solid #cccccc;
    top: 2em;
    box-shadow: 6px 4px 0px 0px #6c87ab;
}

article.chat-msg {
    margin: 0.7em;
    background: white;
    border-radius: 1em;
    height: 70vh;
}

ul#messages {
    list-style-type: none;
    padding: 1em;
    display: block;
    position: relative;
    height: 96%;
    top: 1em;
    overflow: scroll;
}

/* #messages li:nth-child(odd) {
    background: #f2f2f8;
} */

#messages li {
    padding: .8em;
    display: inline-block;
    width: 100%;
}

form#chat-form {
    margin: auto;
    position: relative;
    text-align: center;
}

input#input-msg {
    width: 80%;
    height: 3em;
    position: relative;
}

.chat-input button {
    height: 3em;
    width: 80%;
    border: none;
    background: #6c8cd4;
    color: white;
    margin: 1em;
}

button#leave {
    height: 2em;
    width: 5em;
    border: none;
    background: #b2b2b2;
    color: white;
    right: -22em;
    top: 0.7em;
    position: relative;
}

img {
    width: 13em;
}

.profile-one {
    width: 3em;
    border-radius: 3em;
    height: 3em;
    float: right;
    top: 1.7em;
    position: relative;
}

.chat-msg-one {
    width: 100%;
    display: inline-block;

}

.chat-one {
    position: relative;
    width: 77%;
    display: inline-block;
}

.chat-one p {
    background: #29348e;
    color: white;
    text-align: right;
    position: relative;
    display: inline-block;
    border-radius: 0.6em;
    padding: 0.6em;
    word-wrap: break-word;
    width: 100%;
}

.chat-one span,
.chat-two span {
    position: relative;
    color: grey;
    display: block;
    left: 0;
    top: 0em;
    font-size: 0.8em;
    padding: .2em 0 0.6em;
    text-align: right;
    margin: auto;
}

img.profile-two {
    width: 3em;
    border-radius: 3em;
    height: 3em;
    position: relative;
    display: inline-block;
    top: 0.7em;
}

.chat-two span {
    float: left;
    text-align: left;
}

.chat-two {
    display: inline-block;
    width: 78%;
    position: relative;
}

.chat-two p {
    background: #d04761;
    padding: 0.5em;
    position: relative;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    color: white;
}

.chat-two img {
    float: left;

}

img.gif-img {
    width: 100%;
    height: 11em;
    position: relative;
    object-fit: cover;
    border-radius: 1em;
}

li.broad-chat {
    position: relative;
    font-size: 0.8em;
    text-align: center;
    background: rgb(2, 2, 51);
    color: rgb(152, 226, 152);
    opacity: 1;
    bottom: 0em;
    right: 0;
    animation: reveal-cast 400ms ease-in-out 1;
}

.show-login {
    position: relative;
    font-size: 0.8em;
    text-align: center;
    background: rgb(2, 2, 51);
    color: rgb(152, 226, 152);
    opacity: 1;
    bottom: 0em;
    right: 0;
    animation: remove-cast 700ms ease-in-out 1;
}

/* songs styling */

ul#songs,
ul#que {
    list-style-type: none;
    overflow: scroll;
    height: 97.8%;
    top: 1.4em;
    position: relative;
}

#songs li,
#que li {
    display: block;
    width: 34em;
    position: relative;
    padding: 1em;
    border: 1px solid #eeeeee;
    font-size: 0.9em;
    margin: .3em auto;
}

.quelist {
    height: 20em;
}

#que li {
    background: white;
    margin-bottom: 0.6em;
    border-radius: 0.4em;
    opacity: 1;
    bottom: 0em;
    right: 0;
}

.tracks {
    opacity: 1;
    bottom: 0em;
    right: 0;
    animation: reveal-cast 700ms ease-in-out;
}

ul#que {
    padding: 1em;
    font-size: .9em;
    top: 1em;
    height: 92%;
}
ul#que li:nth-of-type(1)::before{
    content: "Now playing:";
    display: block;
    background: #ff6100;
    padding: 0.5em;
    margin-bottom: .2em;
    color: white;
    font-weight: 800;
    
}
ul#que li:nth-of-type(2)::before{
    content: "Up next:";
    display: block;
    background: #5f1f33;
    padding: 0.5em;
    margin-bottom: .2em;
    color: white;
    font-weight: 800;
    
}

img.albumcover {
    width: 4em;
    float: left;
    margin-right: 2em;
}

.tracks:hover {
    cursor: pointer;
    border: 1px solid white;
    transition: 400ms ease-in-out;
}



@keyframes remove-cast {
    0% {
        right: 0;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        right: 2em;
    }
}

@keyframes reveal-cast {
    0% {
        bottom: -1em;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        bottom: 0em;
    }
}

/* li.broad-chat:nth-child(odd) {
    background:gray;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.spotify-container {
    top: 3em;
    position: relative;
}
input#numberSearch {
    width: 100%;
    height: 2em;
    position: absolute;
    top: 0;
    border: none;
    padding: 1em;
    left: 0;
    font-size: 1.6em;
    color: #222831;
    background: #eeeeee;
}

section.search-song {
    height: 20em;
    background: #393e46;
    width: 40em;
    position: relative;
    padding: 2em;
    margin-right: 2em;
    color: #eeeeee;
}

button.button--form {
    border: none;
    padding: 0.43em;
    position: absolute;
    right: 0;
    top: 0;
    background: #222831;
    color: #00adb5;
    font-size: 1.6em;
}

section.playlist {
    background: #101010;
    height: 20em;
    width: 40em;
    /* border-radius: 0.6em; */
}

span.addedby {
    color: #ffca00;
    text-align: right;
    display: block;
    position: relative;
    font-size: 0.6em;
    left: -10em;
    top: -0.2em;
}

@media only screen and (max-width: 500px) {
    .spotify-container{
        width:90%;
    }
    #songs li, #que li {
        font-size: 0.5em;
        width: 80%;
    }
    section.search-song,section.playlist{
        width:100%;
    }
    input#numberSearch,button.button--form{
        font-size:1.1em;
    }
  }